
<script>
import { defineComponent } from 'vue';
export default defineComponent({
  data: () => {
    return {
      result: '',
    }
  },
})
</script>

<template>

</template>

<style scoped>
a {
  color: #42b983;
}
</style>