<template>
  <h1>Entrez un nombre en km</h1>
  <input v-model="nombre">
  <br>
  {{m}}
  <br>
  {{cm}}
  <br>
  {{mm}}
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  data : ()=>{
    return {
      nombre : '',
  }
},
  computed:{
    cm(){
      return this.nombre * 100000  + "Cm"
    }, 
    m(){
      return this.nombre * 1000 + "m"
    },
    mm(){
      return this.nombre * 1000000 + "mm"
    }
  }
})

</script>



<style scoped>
a {
  color: #42b983;
}
</style>
