<template>
<div id="forms" v-if="seen">
  <form v-if="isFormActive" >
      <label>Nom :</label>
      <input v-model="Nom">
      <br>
      <label>Prénom :</label>
      <input v-model="Prénom">
      <br>
      <label>Date de naissance :</label>
      <input type="date" v-model="Birthdate">
      <br>
      <label>Addresse Mail :</label>
      <input v-model="Addresse">
      <button @click="hideForm" >Envoyer</button>     
  </form>
  <div v-else >Vous etes inscrit </div>
</div> 
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  data :()=>{
      return {
          Nom : "",
          Prénom : "",
          Birthdate : "",
          Addresse : "",
          seen : true,
          message : "Vous êtes inscrit",
          value : false,
          };
  },
  methods : {
      hideForm(){
          if(this.nom && this.prenom && this.date && this.email){
              this.isFormActive = false;
          }
      }
  }
})

</script>



<style scoped>
a {
  color: #42b983;
}
</style>
