<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
<div class="romain">
    <img   alt="Persona Logo" src="./assets/persona.jpg" />
    <HelloWorld msg="Hello Vue 3 + Vite" />

</div>
</template>

<style>
.romain{
  margin-left: auto;
  margin-right: auto;

}
img{
  width: 100px;
}
body{
  margin:0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: aqua;  */
  color: #2c3e50;
  height: 100vh;
  
}
</style>
