<script>
import { defineComponent, ref } from 'vue'
import axios from "axios";


export default defineComponent({
methods:{
  Sendtweet:{
  mounted(){
      axios.post("https://fges-twitter-clone.herokuapp.com/tweet",{
        message: "Poster des messages" ,
        parent:"",
      },
      {
        headers:{
          "x-fges-user-key": "GHyEBElriIpmOKmR85rwEmWSzX2nmH7c",
        },
      });
    },
  },
}

})

</script>

<template>
  <input v-model="post">
  <input type="submit" value="Tweet">
  
</template>

<style scoped>
a {
  color: #42b983;
}
</style>
