<script>
import { defineComponent, ref } from 'vue'
import axios from "axios";
export default defineComponent({
    data(){
    return{
      tweets:[]
    }
  },
  mounted(){
    axios.get("https://fges-twitter-clone.herokuapp.com/allTweets",{
      headers:{
        "x-fges-user-key": "GHyEBElriIpmOKmR85rwEmWSzX2nmH7c",
      },
    }).then((resultats)=>{
      this.tweets.push(resultats.data)
      console.log(resultats.data)
    });
  },
})

</script>

<template>
  <ul>
    <li v-for="tweeter in tweets" :key="tweeter" >
      <li v-for="tweet in tweeter" :key="tweet">
        {{tweet.message}}
      </li>
    </li>
  </ul>
 
</template>

<style scoped>
a {
  color: #42b983;
}
</style>
