<script>
//import HelloWorld from './components/HelloWorld.vue'
import { createApp } from "vue";
import axios from "axios";
import { defineComponent } from 'vue';
import Retrieve from "./components/Retrieve.vue";
import Navbar from "./components/Navbar.vue";
import store from "./store"


export default defineComponent({
    components: { Retrieve, Navbar },
      computed : {
    counter(){
      return this.$store.getters.getCounter;
    }
  },
  methods: {
    incrementCounterByTwo(){
      this.$store.commit('setCounter',2);
    }
  }
})
// const app = createApp(app);
// app.use(store);
//Dont work bcs idk

</script>

<template>
  <img class="image" alt="Vue logo" src="./assets/twitter.jpg" />
  <Navbar/>
  <Retrieve/> 
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.image{
  height: 220px;
  width : 240px;
}
</style>
