<!-- <template>
  <button @click="elements.push(element)">Entrer</button>
  <input v-model="element">
  <ul v-if="elements.length > 2">
    <li v-for="element in elements">
      {{ element }}
    </li>
  </ul>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
    data: () => {
        return {
            elements: [],
        }
    }
})
</script>  -->

<!-- <template>
  <button @click="list.push(inputvalue)">Entrer</button>
  <input v-model="inputvalue">
  <ul v-if="elements.length > 2">
    <li v-for="element in list" :key="element">
      {{ element }}
    </li>
  </ul>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
    data: () => {
        return {
            inputvalue:'',
            list: [],
        }
    }
})
</script> -->
